@page "{id:int?}"
@model APIHotProducts.Pages.Targets.DetailsModel

@{
    ViewData["Title"] = "Target Details";
}
<div style="margin: 50px 0 50px 0 !important;" class="text-center">
    <h2 class="text-warning">Current Target Status: @Html.DisplayFor(model => model.Target.Status)</h2>
</div>
<div class="container" style="margin: 30px !important;">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div>
                        <h3 class="card-title text-primary text-center" style="margin: 20px !important;">Target Life Cycle</h3>
                        <div id="content">
                            <ul class="timeline">
                                <li class="event" data-date="@Html.DisplayFor(model => model.Target.WarehouseDate)" id="time-warehouse">
                                    <h4><b><i>Target in Warehouse:</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.Target.TargetType):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.TargetType)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.WarehouseName):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.WarehouseName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.WarehouseCode):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.WarehouseCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.WarehouseLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.WarehouseLotNum)</p>
                                </li>
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.Target.CyclotronDate)" id="time-cyclotron">
                                    <h4><b><i>Target in Cyclotron Spares:</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.Target.CyclotronName):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.CyclotronName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.CyclotronCode):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.CyclotronCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.WarehouseLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.WarehouseLotNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.Quantity):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.Quantity)</p>
                                </li>
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.Target.PlatingDate)" id="time-plating">
                                    <h4><b><i>Target in Lab: Plating</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.Target.PlatingName):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.PlatingName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.PlatingCode):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.PlatingCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.PlatingLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.PlatingLotNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.ProductName):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.ProductName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.TargetNum):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.TargetNum)</p>
                                </li>
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.Target.BombardingDate)" id="time-bombarding">
                                    <h4><b><i>Target in Bombarding:</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.Target.BombardingName):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.BombardingName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.PlatingCode):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.PlatingCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.PlatingLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.PlatingLotNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.ProductName):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.ProductName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.TargetNum):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.TargetNum)</p>
                                </li>
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.Target.ProcessingDate)" id="time-processing">
                                    <h4><b><i>Target in Lab: Processing</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.Target.ProcessingName):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.ProcessingName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.PlatingCode):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.PlatingCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.ProductName):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.ProductName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.TargetNum):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.TargetNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.Target.ProcessingLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.Target.ProcessingLotNum)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div style="margin: 40px !important;" class="text-center">
    <a class="btn btn-outline-warning" style="margin-right: 10px !important;" asp-page="./Edit" asp-route-id="@Model.Target?.ID">Edit</a> |
    <a class="btn btn-outline-primary" style="margin-left: 10px !important;" asp-page="./Index">Back to List</a>
</div>