@page
@model APIHotProducts.Pages.Targets.EditModel

@{
    ViewData["Title"] = "Update Information";
}

<h1 class="text-center" style="margin-top: 30px !important;">Update Target Information</h1>
<div style="margin: 30px 0 50px 0 !important;" class="text-center text-success">
    <h2>Current Target Status: @Html.DisplayFor(model => model.Target.Status)</h2>
</div>

<h4 class="text-center" style="margin-top: 50px !important;" >Click on what you want to update about this target</h4>
<div class="d-flex" style="margin: 10px 0 30px 0 !important;">
    <button class="btn btn-primary" style="margin: 5px !important;" onclick="displayWarehouse()">Update Warehose Information</button>
    <button class="btn btn-secondary" style="margin: 5px !important;" onclick="displayCyclotronS()">Update Cyclotron Spares Information</button>
    <button class="btn btn-success" style="margin: 5px !important;" onclick="displayChemistry1()">Update Chemistry: Plating Information</button>
    <button class="btn btn-info" style="margin: 5px !important;" onclick="displayBombarding()">Update Bombarding Information</button>
    <button class="btn btn-light" style="margin: 5px !important;" onclick="displayChemistry2()">Update Chemistry: Processing Information</button>
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Target.ID" />
            <div class="form-group">
                <h4 class="text-center" style="margin-top: 20px !important;">Update Target Status</h4>
                <select asp-for="Target.Status" class="form-control" style="margin: 10px !important;" id="status">
                    <option value="Warehouse">Warehouse</option>
                    <option value="Cyclotron Spares">Cyclotron Spares</option>
                    <option value="Plating">Plating</option>
                    <option value="Bombarding">Bombarding</option>
                    <option value="Processing">Processing</option>
                </select>
            </div>
            @* Warehouse Data Fields *@
            <div id="Warehouse" style="display:none; margin: 20px !important;">
                <hr>
                <h3 class="text-center" style="margin: 10px 0 10px 0 !important;" >Edit Target in Warehouse:</h3>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.TargetType" class="control-label"></label>
                    <select style="margin-bottom: 10px !important;" asp-for="Target.TargetType" class="form-control" id="product">
                        <option value="CS-30(Curve)">CS-30(Curve)</option>
                        <option value="CS-30(Flat)">CS-30(Flat)</option>
                        <option value="TR-30">TR-30</option>
                        <option value="IBA">IBA</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.WarehouseDate" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.WarehouseDate" class="form-control" />
                    <span asp-validation-for="Target.WarehouseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" class="control-label">Who did this change? (First Name & Last Name Initials)</label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.WarehouseName" class="form-control" />
                    <span asp-validation-for="Target.WarehouseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.WarehouseCode" class="control-label"></label>
                    <select asp-for="Target.WarehouseCode" class="form-control" id="WCode" style="margin-bottom: 10px !important;">
                        <option value="Curve-J54701">CS-30-Curve-J54701</option>
                        <option value="Flat-G000271">CS-30-Flat-6000271</option>
                        <option value="Face-J86005">TR-Face-J86005</option>
                        <option value="Body-J86004">TR-Body-J86004</option>
                        <option value="J54600">IBA-J54600</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.WarehouseLotNum" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.WarehouseLotNum" class="form-control" />
                    <span asp-validation-for="Target.WarehouseLotNum" class="text-danger"></span>
                </div>
            </div>
            @* Cyclotron Spares Data Fields *@
            <div id="CyclotronSpares" style="display:none; margin: 20px !important;">
                <hr>
                <h3 class="text-center" style="margin: 10px 0 10px 0 !important;">Edit Target in Cyclotron Spares:</h3>
                <div class="form-group">
                    <p><b>Code: </b>@Html.DisplayFor(model => model.Target.WarehouseCode)</p>
                </div>
                <div class="form-group">
                    <p><b>Lot Number: </b>@Html.DisplayFor(model => model.Target.WarehouseLotNum)</p>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.CyclotronDate" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.CyclotronDate" class="form-control" />
                    <span asp-validation-for="Target.CyclotronDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.CyclotronName" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.CyclotronName" class="form-control" />
                    <span asp-validation-for="Target.CyclotronName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.Quantity" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.Quantity" class="form-control" />
                    <span asp-validation-for="Target.Quantity" class="text-danger"></span>
                </div>
            </div>
            @* Chemistry:Plating Data Fields *@
            <div id="Chemistry1" style="display:none; margin: 20px !important;">
                <hr>
                <h3 class="text-center" style="margin: 10px 0 10px 0 !important;">Edit Target in Plating:</h3>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.PlatingDate" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.PlatingDate" class="form-control" />
                    <span asp-validation-for="Target.PlatingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.PlatingName" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.PlatingName" class="form-control" />
                    <span asp-validation-for="Target.PlatingName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.PlatingCode" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.PlatingCode" class="form-control" />
                    <span asp-validation-for="Target.PlatingCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.PlatingLotNum" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.PlatingLotNum" class="form-control" />
                    <span asp-validation-for="Target.PlatingLotNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.ProductName" class="control-label"></label>
                    <select style="margin-bottom: 10px !important;" asp-for="Target.ProductName" class="form-control" id="product">
                        <option value="Ga-67">Ga-67</option>
                        <option value="In-111">In-111</option>
                        <option value="Pb-201">Pb-201</option>
                        <option value="Ge-68">Ge-68</option>
                        <option value="Cu-64">Cu-64</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.TargetNum" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.TargetNum" class="form-control" />
                    <span asp-validation-for="Target.TargetNum" class="text-danger"></span>
                </div>
            </div>
             @* Cyclotron Bombarding Data Fields *@
             <div id="Bombarding" style="display:none; margin: 20px !important;">
                <hr>
                <h3 class="text-center" style="margin: 10px 0 10px 0 !important;">Edit Target in Bombarding information:</h3>
                <div class="form-group" style="margin: 10px 0 10px 0 !important;">
                    <p><b>Product Name: </b>@Html.DisplayFor(model => model.Target.ProductName)</p>
                    <p><b>Lot Number: </b>@Html.DisplayFor(model => model.Target.PlatingLotNum)</p>
                    <p><b>Code: </b>@Html.DisplayFor(model => model.Target.PlatingCode)</p>
                    <p><b>Target Number: </b>@Html.DisplayFor(model => model.Target.TargetNum)</p>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.BombardingDate" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.BombardingDate" class="form-control" />
                    <span asp-validation-for="Target.BombardingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.BombardingName" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.BombardingName" class="form-control" />
                    <span asp-validation-for="Target.BombardingName" class="text-danger"></span>
                </div>
            </div>
            @* Chemistry: Processing Data Fields *@
            <div id="Chemistry2" style="display:none; margin: 20px !important;">
                <hr>
                <h3 class="text-center" style="margin: 10px 0 10px 0 !important;">Edit Target in Processing:</h3>
                <div class="form-group" style="margin: 10px 0 10px 0 !important;">
                    <p><b>Product Name: </b>@Html.DisplayFor(model => model.Target.ProductName)</p>
                    <p><b>Lot Number: </b>@Html.DisplayFor(model => model.Target.PlatingLotNum)</p>
                    <p><b>Code: </b>@Html.DisplayFor(model => model.Target.PlatingCode)</p>
                    <p><b>Target Number: </b>@Html.DisplayFor(model => model.Target.TargetNum)</p>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.ProcessingDate" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.ProcessingDate" class="form-control" />
                    <span asp-validation-for="Target.ProcessingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.ProcessingName" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.ProcessingName" class="form-control" />
                    <span asp-validation-for="Target.ProcessingName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px !important;" asp-for="Target.ProcessingLotNum" class="control-label"></label>
                    <input style="margin-bottom: 10px !important;" asp-for="Target.ProcessingLotNum" class="form-control" />
                    <span asp-validation-for="Target.ProcessingLotNum" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-center" style="margin: 40px !important;" >
                <h3 class="text-warning" style="margin: 10px !important;" >Save your changes!</h3>
                <input type="submit" value="Save" class="btn btn-primary btn-lg col-sm-10" />
            </div>
        </form>
    </div>
</div>

<div class="text-center" >
    <a class="btn btn-outline-primary" asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
