@page
@model TargetDataBase.Pages.CS30Tests.DetailsModel

@{
    ViewData["Title"] = "Details of Test";
}

<h1 class="text-center mt-5 mb-5">Details of CS-30 Target Test</h1>

<div class="text-center m-4">
    <h4 class="font-weight-bold">@Html.DisplayNameFor(model => model.CS30Test.Result)</h4>
    <h6>@Html.DisplayFor(model => model.CS30Test.Result)</h6>
    <h4 class="font-weight-bold">@Html.DisplayNameFor(model => model.CS30Test.HNum)</h4>
    <h6>@Html.DisplayFor(model => model.CS30Test.HNum)</h6>
    <h4 class="font-weight-bold">@Html.DisplayNameFor(model => model.CS30Test.CS30)</h4>
    <h6>@Html.DisplayFor(model => model.CS30Test.CS30.ID)</h6>
</div>

<div class="m-3 text-center">
    <a class="btn btn-outline-warning me-2" asp-page="./Edit" asp-route-id="@Model.CS30Test?.ID">Edit</a> |
    <a class="btn btn-outline-primary ms-2" asp-page="./Index">Back to List</a>
</div>
