@page
@model TargetDataBase.Pages.CS30Tests.IndexModel

@{
    ViewData["Title"] = "CS-30 JIG Tests Index";
}

<h1 class="text-center m-3">@ViewData["Title"]</h1>
<p class="text-center m-3">
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get" class="m-3">
    <p>
        <div class="text-center">
            Search By H-Number: <input type="text" name="SearchString" value="@Model.SearchString" />
            <input class="btn btn-secondary" type="submit" value="Search" />
        </div>
    </p>
</form>
<table class="table table-hover text-center m-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CS30Tests[0].Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CS30Tests[0].HNum)
            </th>
            <th>
                Target ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CS30Tests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CS30.ID)
            </td>
            <td>
                <a class="badge rounded-pill bg-primary text-decoration-none" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="badge rounded-pill bg-primary text-decoration-none" asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a class="badge rounded-pill bg-primary text-decoration-none" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
