@page
@model TargetDB.Pages.CS30Curveds.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CS30Curved</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CS30Curved.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CS30Curved.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CS30Curved.WarehouseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CS30Curved.WarehouseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CS30Curved.WarehouseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CS30Curved.WarehouseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CS30Curved.WarehouseCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CS30Curved.WarehouseCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CS30Curved.WarehouseLotNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CS30Curved.WarehouseLotNum)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CS30Curved.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
