@page
@model TargetDataBase.Pages.IBAs.DeleteModel

@{
    ViewData["Title"] = "Delete IBA Target";
}

<h1 class="text-center m-3">@ViewData["Title"]</h1>
<h3 class="text-center m-3">Are you sure you want to delete this Target?</h3>
<p class="text-danger text-center">@Model.ErrorMessage</p>
<div class="card border-danger mb-3 text-center">
  <div class="card-body">
    <p class="card-text">Deleting elements are irreversible!</p>
  </div>
</div>

<div class="m-3">
    <h4 class="text-center">Target Information:</h4>
    <hr />
    <div class="text-center mt-2 mb-2">
        <h2>Current Target Status: @Html.DisplayFor(model => model.IBA.Status)</h2>
    </div>
    <table class="table text-center mt-2">
      <tr>
        <th class="h4" colspan="4"><i><b>Warehouse</b></i></th>
      </tr>
      <tr>
        <th>@Html.DisplayNameFor(model => model.IBA.WarehouseDate)</th>
        <th>@Html.DisplayNameFor(model => model.IBA.WarehouseName)</th>
        <th>@Html.DisplayNameFor(model => model.IBA.WarehouseCode)</th>
        <th>@Html.DisplayNameFor(model => model.IBA.WarehouseLotNum)</th>
      </tr>
      <tr>
        <td>@Html.DisplayFor(model => model.IBA.WarehouseDate)</td>
        <td>@Html.DisplayFor(model => model.IBA.WarehouseName)</td>
        <td>@Html.DisplayFor(model => model.IBA.WarehouseCode)</td>
        <td>@Html.DisplayFor(model => model.IBA.WarehouseLotNum)</td>
      </tr>
    </table>

    @if (Model.IBA.CyclotronDate != null)
    {
        <div class="d-flex justify-content-center">
            <table class="table text-center m-3">
                <tr>
                    <th class="h4" colspan="4"><i><b>Cyclotron Spares</b></i></th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IBA.CyclotronDate)</th>
                    <th>@Html.DisplayNameFor(model => model.IBA.CyclotronName)</th>
                    <th>@Html.DisplayNameFor(model => model.IBA.CyclotronCode)</th>
                    <th>@Html.DisplayNameFor(model => model.IBA.Quantity)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.IBA.CyclotronDate)</td>
                    <td>@Html.DisplayFor(model => model.IBA.CyclotronName)</td>
                    <td>@Html.DisplayFor(model => model.IBA.CyclotronCode)</td>
                    <td>@Html.DisplayFor(model => model.IBA.Quantity)</td>
                </tr>
            </table>
            <table class="table text-center m-3">
                <tr>
                    <th>Results</th>
                    <th>H-Number</th>
                    <th>Test Type</th>
                </tr>
                @foreach (var item in Model.IBA.IBATests)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Result)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TestType)
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    @if (Model.IBA.PlatingDate != null)
    {
        <table class="table text-center mt-4">
            <tr>
                <th class="h4" colspan="6"><i><b>Plating</b></i></th>
            </tr>
          <tr>
            <th>@Html.DisplayNameFor(model => model.IBA.PlatingDate)</th>
            <th>@Html.DisplayNameFor(model => model.IBA.PlatingName)</th>
            <th>@Html.DisplayNameFor(model => model.IBA.PlatingCode)</th>
            <th>@Html.DisplayNameFor(model => model.IBA.PlatingLotNum)</th>
            <th>@Html.DisplayNameFor(model => model.IBA.ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.IBA.TargetNum)</th>
          </tr>
          <tr>
            <td>@Html.DisplayFor(model => model.IBA.PlatingDate)</td>
            <td>@Html.DisplayFor(model => model.IBA.PlatingName)</td>
            <td>@Html.DisplayFor(model => model.IBA.PlatingCode)</td>
            <td>@Html.DisplayFor(model => model.IBA.PlatingLotNum)</td>
            <td>@Html.DisplayFor(model => model.IBA.ProductName)</td>
            <td>@Html.DisplayFor(model => model.IBA.TargetNum)</td>
          </tr>
        </table>
    }
    @if (Model.IBA.BombardingDate != null)
    {
        <table class="table text-center mt-4">
          <tr>
            <th class="h4" colspan="2"><i><b>Bombarding</b></i></th>
          </tr>
          <tr>
            <th>@Html.DisplayNameFor(model => model.IBA.BombardingDate)</th>
            <th>@Html.DisplayNameFor(model => model.IBA.BombardingName)</th>
          </tr>
          <tr>
            <td>@Html.DisplayFor(model => model.IBA.BombardingDate)</td>
            <td>@Html.DisplayFor(model => model.IBA.BombardingName)</td>
          </tr>
        </table>
    }
    @if (Model.IBA.ProcessingDate != null)
    {
        <table class="table text-center mt-4">
          <tr>
            <th class="h4" colspan="3"><i><b>Processing</b></i></th>
          </tr>
          <tr>
            <th>@Html.DisplayNameFor(model => model.IBA.ProcessingDate)</th>
            <th>@Html.DisplayNameFor(model => model.IBA.ProcessingName)</th>
            <th>@Html.DisplayNameFor(model => model.IBA.ProcessingLotNum)</th>
          </tr>
          <tr>
            <td>@Html.DisplayFor(model => model.IBA.ProcessingDate)</td>
            <td>@Html.DisplayFor(model => model.IBA.ProcessingName)</td>
            <td>@Html.DisplayFor(model => model.IBA.ProcessingLotNum)</td>
          </tr>
        </table>
    }
    <form method="post" class="text-center">
        <input type="hidden" asp-for="IBA.ID" />
        <input type="submit" value="Delete" class="btn btn-danger mr-2" onclick="return confirm('Are you sure you want to delete this Target?');"/> |
        <a class="btn btn-outline-warning mr-2 ml-2" asp-page="./Edit" asp-route-id="@Model.IBA?.ID">Edit</a> |
        <a class="btn btn-outline-primary ml-2" asp-page="./Index">Back to List</a>
    </form>
</div>