@page
@model TargetDataBase.Pages.IBAs.EditModel

@{
    ViewData["Title"] = "Update IBA Target";
}

<h1 class="text-center mt-4">Update IBA Target Information</h1>
<div class="text-center text-success mt-3 mb-5">
    <h2>Current Target Status: @Html.DisplayFor(model => model.IBA.Status)</h2>
</div>
<h4 class="text-center mt-5">Click on what you want to update about this target</h4>
<div class="d-flex mt-1 mb-3">
    <button class="btn btn-primary m-1" onclick="displayWarehouse()">Update Warehose Information</button>
    <button class="btn btn-secondary m-1" onclick="displayCyclotronS()">Update Cyclotron Spares Information</button>
    <button class="btn btn-success m-1" onclick="displayChemistry1()">Update Chemistry: Plating Information</button>
    <button class="btn btn-info m-1" onclick="displayBombarding()">Update Bombarding Information</button>
    <button class="btn btn-light m-1" onclick="displayChemistry2()">Update Chemistry: Processing Information</button>
</div>
<div class="text-center">
    <a class="btn btn-warning m-1" asp-page="/IBATests/Create">Add JIG/Sisembled Test</a>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IBA.ID" />
            <div class="form-group">
                <h4 class="text-center mt-2">Update Target Status</h4>
                <select asp-for="IBA.Status" class="form-control m-1" id="status">
                    <option value="Warehouse">Warehouse</option>
                    <option value="Cyclotron Spares">Cyclotron Spares</option>
                    <option value="Plating">Plating</option>
                    <option value="Bombarding">Bombarding</option>
                    <option value="Processing">Processing</option>
                </select>
            </div>
            @* Warehouse Data Fields *@
            <div id="Warehouse" style="display:none;" class="m-3">
                <hr>
                <h3 class="text-center mt-1 mb-1" >Edit Target in Warehouse:</h3>
                <div class="form-group">
                    <label asp-for="IBA.WarehouseDate" class="control-label mt-1"></label>
                    <input asp-for="IBA.WarehouseDate" class="form-control mb-1" />
                    <span asp-validation-for="IBA.WarehouseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-labe mt-1">Who did this change? (First Name & Last Name Initials)</label>
                    <input asp-for="IBA.WarehouseName" class="form-control mb-1" />
                    <span asp-validation-for="IBA.WarehouseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.WarehouseCode" class="control-label mt-1"></label>
                    <select asp-for="IBA.WarehouseCode" class="form-control mb-1" id="WCode">
                        <option value="J54600">J54600</option>
                        <option value="H38300">H38300</option>
                        <option value="H98300">H98300</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.WarehouseLotNum" class="control-label mt-1"></label>
                    <input asp-for="IBA.WarehouseLotNum" class="form-control mb-1" />
                    <span asp-validation-for="IBA.WarehouseLotNum" class="text-danger"></span>
                </div>
            </div>
            @* Cyclotron Spares Data Fields *@
            <div id="CyclotronSpares" style="display:none;" class="m-3">
                <hr>
                <h3 class="text-center mt-1 mb-1">Edit Target in Cyclotron Spares:</h3>
                <div class="form-group">
                    <p><b>Lot Number: </b>@Html.DisplayFor(model => model.IBA.WarehouseLotNum)</p>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.CyclotronDate" class="control-label mt-1"></label>
                    <input asp-for="IBA.CyclotronDate" class="form-control mb-1" />
                    <span asp-validation-for="IBA.CyclotronDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.CyclotronName" class="control-label mt-1"></label>
                    <input asp-for="IBA.CyclotronName" class="form-control mb-1" />
                    <span asp-validation-for="IBA.CyclotronName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.CyclotronCode" class="control-label mt-1"></label>
                    <select asp-for="IBA.CyclotronCode" class="form-control mb-1" id="WCode">
                        <option value="J54600">J54600</option>
                        <option value="S38200">S38200</option>
                        <option value="S98200">S98200</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.Quantity" class="control-label mt-1"></label>
                    <input asp-for="IBA.Quantity" class="form-control mb-1" />
                    <span asp-validation-for="IBA.Quantity" class="text-danger"></span>
                </div>
            </div>
            @* Chemistry:Plating Data Fields *@
            <div id="Chemistry1" style="display:none;" class="m-3">
                <hr>
                <h3 class="text-center mt-1 mb-1">Edit Target in Plating:</h3>
                <div class="form-group">
                    <label asp-for="IBA.PlatingDate" class="control-label mt-1"></label>
                    <input asp-for="IBA.PlatingDate" class="form-control mb-1" />
                    <span asp-validation-for="IBA.PlatingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.PlatingName" class="control-label mt-1"></label>
                    <input asp-for="IBA.PlatingName" class="form-control mb-1" />
                    <span asp-validation-for="IBA.PlatingName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.PlatingLotNum" class="control-label mt-1"></label>
                    <input asp-for="IBA.PlatingLotNum" class="form-control mb-1" />
                    <span asp-validation-for="IBA.PlatingLotNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.ProductName" class="control-label mt-1"></label>
                    <select asp-for="IBA.ProductName" class="form-control mb-1" id="product">
                        <option value="In-111">In-111</option>
                        <option value="Ga-67">Ga-67</option>
                        <option value="Ge-68 61/39">Ge-68 61/39</option>
                        <option value="Ge-68 75/25">Ge-68 75/25</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.PlatingCode" class="control-label mt-1"></label>
                    <select asp-for="IBA.PlatingCode" class="form-control mb-1" id="product">
                        <option value="S790">S790</option>
                        <option value="S732">S732</option>
                        <option value="S38300">S38300</option>
                        <option value="S98300">S98300</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.TargetNum" class="control-label mt-1"></label>
                    <input asp-for="IBA.TargetNum" class="form-control mb-1" />
                    <span asp-validation-for="IBA.TargetNum" class="text-danger"></span>
                </div>
            </div>
             @* Cyclotron Bombarding Data Fields *@
             <div id="Bombarding" style="display:none;" class="m-3">
                <hr>
                <h3 class="text-center mt-1 mb-1">Edit Target in Bombarding information:</h3>
                <div class="form-group mt-1 mb-1">
                    <p><b>Product Name: </b>@Html.DisplayFor(model => model.IBA.ProductName)</p>
                    <p><b>Lot Number: </b>@Html.DisplayFor(model => model.IBA.PlatingLotNum)</p>
                    <p><b>Code: </b>@Html.DisplayFor(model => model.IBA.PlatingCode)</p>
                    <p><b>Target Number: </b>@Html.DisplayFor(model => model.IBA.TargetNum)</p>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.BombardingDate" class="control-label mt-1"></label>
                    <input asp-for="IBA.BombardingDate" class="form-control mb-1" />
                    <span asp-validation-for="IBA.BombardingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.BombardingName" class="control-label mt-1"></label>
                    <input asp-for="IBA.BombardingName" class="form-control mb-1" />
                    <span asp-validation-for="IBA.BombardingName" class="text-danger"></span>
                </div>
            </div>
            @* Chemistry: Processing Data Fields *@
            <div id="Chemistry2" style="display:none;" class="m-3">
                <hr>
                <h3 class="text-center mt-1 mb-1">Edit Target in Processing:</h3>
                <div class="form-group mt-1 mb-1">
                    <p><b>Product Name: </b>@Html.DisplayFor(model => model.IBA.ProductName)</p>
                    <p><b>Code: </b>@Html.DisplayFor(model => model.IBA.PlatingCode)</p>
                    <p><b>Lot Number: </b>@Html.DisplayFor(model => model.IBA.PlatingLotNum)</p>
                    <p><b>Target Number: </b>@Html.DisplayFor(model => model.IBA.TargetNum)</p>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.ProcessingDate" class="control-label mt-1"></label>
                    <input asp-for="IBA.ProcessingDate" class="form-control mb-1" />
                    <span asp-validation-for="IBA.ProcessingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.ProcessingName" class="control-label mt-1"></label>
                    <input asp-for="IBA.ProcessingName" class="form-control mb-1" />
                    <span asp-validation-for="IBA.ProcessingName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IBA.ProcessingLotNum" class="control-label mt-1"></label>
                    <input asp-for="IBA.ProcessingLotNum" class="form-control mb-1" />
                    <span asp-validation-for="IBA.ProcessingLotNum" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-center m-4" >
                <h3 class="text-warning m-1" >Save your changes!</h3>
                <input type="submit" value="Save" class="btn btn-primary btn-lg col-sm-10" />
            </div>
        </form>
    </div>
</div>
<div class="text-center" >
    <a class="btn btn-outline-primary" asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
