@page
@model TargetDataBase.Pages.IBAs.IndexModel

@{
    ViewData["Title"] = "IBA Index";
}

<h1 class="text-center mt-4">IBA Target Index</h1>
<p class="text-center m-4">
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get" class="m-3">
    <p>
        <div class="text-center">
            Search By Key Word:<input type="text" name="SearchString" value="@Model.SearchString" />
            <input class="btn btn-secondary" type="submit" value="Search" />
        </div>
    </p>
</form>
<table class="table table-hover text-center m-3">
    <thead>
        <tr>
            <th>
                <a class="text-decoration-none" asp-page="./Index" asp-route-sortOrder="@Model.StatusSort">
                    @Html.DisplayNameFor(model => model.IBAs[0].Status)
                </a>
            </th>
            <th>
                <a class="text-decoration-none" asp-page="./Index" asp-route-sortOrder="@Model.ProductSort">
                    @Html.DisplayNameFor(model => model.IBAs[0].ProductName)
                </a>
            </th>
            <th>
                <a class="text-decoration-none" asp-page="./Index" asp-route-sortOrder="@Model.TargetNumSort">
                    @Html.DisplayNameFor(model => model.IBAs[0].TargetNum)
                </a>
            </th>
            <th>
                <a class="text-decoration-none" asp-page="./Index" asp-route-sortOrder="@Model.WCodeSort">Warehouse Code</a>
            </th>
            <th>
                <a class="text-decoration-none" asp-page="./Index" asp-route-sortOrder="@Model.WCodeSort">Cyclotron Code</a>
            </th>
            <th>
                <a class="text-decoration-none" asp-page="./Index" asp-route-sortOrder="@Model.PCodeSort">Plating Code</a>
            </th>
            <th>
                 <a class="text-decoration-none" asp-page="./Index" asp-route-sortOrder="@Model.WLotNumSort">Warehouse Lot Number</a>
            </th>
            <th>
               <a class="text-decoration-none" asp-page="./Index" asp-route-sortOrder="@Model.PLotNumSort">Plating Lot Number</a>
            </th>
            <th>
                 <a class="text-decoration-none" asp-page="./Index" asp-route-sortOrder="@Model.ProcessLotNumSort">Processing Lot Number</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IBAs) {
        <tr class="table-active">
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CyclotronCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatingCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseLotNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatingLotNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingLotNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a class="badge rounded-pill bg-primary text-decoration-none" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="badge rounded-pill bg-secondary text-decoration-none" asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a class="badge rounded-pill bg-success text-decoration-none" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
