@page
@model TargetDataBase.Pages.IBAs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].WarehouseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].WarehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].WarehouseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].WarehouseLotNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].CyclotronDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].CyclotronName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].CyclotronCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].PlatingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].PlatingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].PlatingCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].PlatingLotNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].TargetNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].BombardingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].BombardingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].ProcessingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].ProcessingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAs[0].ProcessingLotNum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IBAs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseLotNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CyclotronDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CyclotronName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CyclotronCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatingCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatingLotNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BombardingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BombardingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingLotNum)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
