@page
@model TargetDataBase.Pages.TR30s.DetailsModel

@{
    ViewData["Title"] = "TR-30 Target Details";
}
<div class="text-center mt-5 mb-5">
    <h2 class="text-warning">Current Target Status: @Html.DisplayFor(model => model.TR30.Status)</h2>
</div>

<div class="container m-3">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div>
                        <h3 class="card-title text-primary text-center m-2">Target Life Cycle</h3>
                        <div id="content">
                            <ul class="timeline">
                                <li class="event" data-date="@Html.DisplayFor(model => model.TR30.WarehouseDate)" id="time-warehouse">
                                    <h4><b><i>Target in Warehouse:</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.WarehouseName):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.WarehouseName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.WFaceCode):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.WFaceCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.WBodyCode):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.WBodyCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.WFaceLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.WFaceLotNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.WBodyLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.WBodyLotNum)</p>
                                </li>
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.TR30.CyclotronDate)" id="time-cyclotron">
                                    <h4><b><i>Target in Cyclotron Spares:</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.CyclotronName):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.CyclotronName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.CFaceCode):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.CFaceCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.CBodyCode):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.CBodyCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.WFaceLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.WFaceLotNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.WBodyLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.WBodyLotNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.Quantity):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.Quantity)</p>
                                    <table class="table">
                                        <tr>
                                            <th>Results</th>
                                            <th>H-Number</th>
                                            <th>Test Type</th>
                                        </tr>
                                        @foreach (var item in Model.TR30.TR30Tests)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Result)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HNum)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TestType)
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </li>
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.TR30.PlatingDate)" id="time-plating">
                                    <h4><b><i>Target in Lab: Plating</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.PlatingName):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.PlatingName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.PlatingCode):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.PlatingCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.PlatingLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.PlatingLotNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.ProductName):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.ProductName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.TargetNum):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.TargetNum)</p>
                                </li>
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.TR30.BombardingDate)" id="time-bombarding">
                                    <h4><b><i>Target in Bombarding:</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.BombardingName):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.BombardingName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.PlatingCode):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.PlatingCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.PlatingLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.PlatingLotNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.ProductName):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.ProductName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.TargetNum):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.TargetNum)</p>
                                </li>
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.TR30.ProcessingDate)" id="time-processing">
                                    <h4><b><i>Target in Lab: Processing</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.ProcessingName):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.ProcessingName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.PlatingCode):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.PlatingCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.ProductName):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.ProductName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.TargetNum):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.TargetNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.TR30.ProcessingLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.TR30.ProcessingLotNum)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div style="margin: 40px !important;" class="text-center">
    <a class="btn btn-outline-warning mr-2" asp-page="./Edit" asp-route-id="@Model.TR30?.ID">Edit</a> |
    <a class="btn btn-outline-primary ml-2" asp-page="./Index">Back to List</a>
</div>
