@page
@model TargetDataBase.Pages.IBATests.DeleteModel

@{
    ViewData["Title"] = "Delete IBA Test";
}

<h1 class="text-center" style="margin: 30px !important;">@ViewData["Title"]</h1>
<h3 class="text-center" style="margin: 30px !important;">Are you sure you want to delete this Target Test?</h3>
<div class="card border-danger mb-3 text-center">
  <div class="card-body">
    <p class="card-text">Deleting elements are irreversible!</p>
  </div>
</div>
<div>
    <table class="table text-center" style="margin-top: 10px !important;">
      <tr>
        <th style="font-size: larger !important" colspan="4">Target ID: @Html.DisplayFor(model => model.IBATest.IBA.ID)</th>
      </tr>
      <tr>
        <th>@Html.DisplayNameFor(model => model.IBATest.TestType)</th>
        <th>@Html.DisplayNameFor(model => model.IBATest.Result)</th>
        <th>@Html.DisplayNameFor(model => model.IBATest.HNum)</th>
      </tr>
      <tr>
        <td>@Html.DisplayFor(model => model.IBATest.TestType)</td>
        <td>@Html.DisplayFor(model => model.IBATest.Result)</td>
        <td>@Html.DisplayFor(model => model.IBATest.HNum)</td>
      </tr>
    </table>  
    <form method="post" class="text-center">
        <input type="hidden" asp-for="IBATest.ID" />
        <input style="margin-right: 10px !important;" type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Target Test Result?');"/> |
        <a class="btn btn-outline-warning" style="margin: 10px 0 10px 0 !important;" asp-page="./Edit" asp-route-id="@Model.IBATest?.ID">Edit</a> |
        <a class="btn btn-outline-primary" style="margin-left: 10px !important;" asp-page="./Index">Back to List</a>
    </form>
</div>
