@page
@model TargetDataBase.Pages.IBATests.IndexModel

@{
    ViewData["Title"] = "IBA Test Index";
}

<h1 style="margin: 30px !important;" class="text-center">@ViewData["Title"]</h1>
<p style="margin: 30px !important;" class="text-center">
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table table-hover text-center" style="margin: 30px !important;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IBATest[0].TestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBATest[0].Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBATest[0].HNum)
            </th>
            <th>
                Target ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IBATest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IBA.ID)
            </td>
            <td>
                <a class="badge rounded-pill bg-primary text-decoration-none" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="badge rounded-pill bg-primary text-decoration-none" asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a class="badge rounded-pill bg-primary text-decoration-none" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
