@page
@model TargetDataBase.Pages.TR30Tests.DeleteModel

@{
    ViewData["Title"] = "Delete TR-30 Test";
}

<h1 class="text-center m-3">@ViewData["Title"]</h1>
<h3 class="text-center m-3">Are you sure you want to delete this Target Test?</h3>
<div class="card border-danger mb-3 text-center">
  <div class="card-body">
    <p class="card-text">Deleting elements are irreversible!</p>
  </div>
</div>
<div>
    <table class="table text-center mt-1">
      <tr>
        <th class="h4" colspan="4">Target ID: @Html.DisplayFor(model => model.TR30Test.TR30.ID)</th>
      </tr>
      <tr>
        <th>@Html.DisplayNameFor(model => model.TR30Test.TestType)</th>
        <th>@Html.DisplayNameFor(model => model.TR30Test.Result)</th>
        <th>@Html.DisplayNameFor(model => model.TR30Test.HNum)</th>
      </tr>
      <tr>
        <td>@Html.DisplayFor(model => model.TR30Test.TestType)</td>
        <td>@Html.DisplayFor(model => model.TR30Test.Result)</td>
        <td>@Html.DisplayFor(model => model.TR30Test.HNum)</td>
      </tr>
    </table>  
    <form method="post" class="text-center">
        <input type="hidden" asp-for="TR30Test.ID" />
        <input type="submit" value="Delete" class="btn btn-danger me-1" onclick="return confirm('Are you sure you want to delete this Target Test Result?');"/> |
        <a class="btn btn-outline-warning me-1 ms-1" asp-page="./Edit" asp-route-id="@Model.TR30Test?.ID">Edit</a> |
        <a class="btn btn-outline-primary ms-1" asp-page="./Index">Back to List</a>
    </form>
</div>