@page
@model TargetDataBase.Pages.CS30s.DeleteModel

@{
    ViewData["Title"] = "Delete CS-30 Target";
}

<h1 class="text-center" style="margin: 30px !important;">@ViewData["Title"]</h1>
<h3 class="text-center" style="margin: 30px !important;">Are you sure you want to delete this Target?</h3>
<p class="text-danger text-center">@Model.ErrorMessage</p>
<div class="card border-danger mb-3 text-center">
  <div class="card-body">
    <p class="card-text">Deleting elements are irreversible!</p>
  </div>
</div>
<div style="margin: 30px !important;">
    <h4 class="text-center">Target Information:</h4>
    <hr />
    <div style="margin: 10px 0 10px 0 !important;" class="text-center">
        <h2>Current Target Status: @Html.DisplayFor(model => model.CS30.Status)</h2>
    </div>
    <table class="table text-center" style="margin-top: 10px !important;" id="Details-Warehouse">
      <tr>
        <th style="font-size: larger !important" colspan="5"><i><b>Warehouse</b></i></th>
      </tr>
      <tr>
        <th>@Html.DisplayNameFor(model => model.CS30.TargetType)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.WarehouseDate)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.WarehouseName)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.WarehouseCode)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.WarehouseLotNum)</th>
      </tr>
      <tr>
        <td>@Html.DisplayFor(model => model.CS30.TargetType)</td>
        <td>@Html.DisplayFor(model => model.CS30.WarehouseDate)</td>
        <td>@Html.DisplayFor(model => model.CS30.WarehouseName)</td>
        <td>@Html.DisplayFor(model => model.CS30.WarehouseCode)</td>
        <td>@Html.DisplayFor(model => model.CS30.WarehouseLotNum)</td>
      </tr>
    </table>

    <div id="Details-Cyclo" class="d-flex justify-content-center">
        <table class="table text-center" style="margin: 20px 40px 20px 0 !important;">
          <tr>
            <th style="font-size: larger !important" colspan="4"><i><b>Cyclotron Spares</b></i></th>
          </tr>
          <tr>
            <th>@Html.DisplayNameFor(model => model.CS30.CyclotronDate)</th>
            <th>@Html.DisplayNameFor(model => model.CS30.CyclotronName)</th>
            <th>@Html.DisplayNameFor(model => model.CS30.CyclotronCode)</th>
            <th>@Html.DisplayNameFor(model => model.CS30.Quantity)</th>
          </tr>
          <tr>
            <td>@Html.DisplayFor(model => model.CS30.CyclotronDate)</td>
            <td>@Html.DisplayFor(model => model.CS30.CyclotronName)</td>
            <td>@Html.DisplayFor(model => model.CS30.CyclotronCode)</td>
            <td>@Html.DisplayFor(model => model.CS30.Quantity)</td>
          </tr>
        </table>
        <table class="table text-center" style="margin: 20px 40px 20px 0 !important;">
                <tr>
                    <th>Results</th>
                    <th>H-Number</th>
                </tr>
                @foreach (var item in Model.CS30.CS30Tests)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Result)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HNum)
                        </td>
                    </tr>
                }
            </table>
    </div>

    <table class="table text-center" style="margin-top: 40px !important;" id="Details-Plating">
      <tr>
        <th style="font-size: larger !important" colspan="6"><i><b>Plating</b></i></th>
      </tr>
      <tr>
        <th>@Html.DisplayNameFor(model => model.CS30.PlatingDate)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.PlatingName)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.PlatingCode)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.PlatingLotNum)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.ProductName)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.TargetNum)</th>
      </tr>
      <tr>
        <td>@Html.DisplayFor(model => model.CS30.PlatingDate)</td>
        <td>@Html.DisplayFor(model => model.CS30.PlatingName)</td>
        <td>@Html.DisplayFor(model => model.CS30.PlatingCode)</td>
        <td>@Html.DisplayFor(model => model.CS30.PlatingLotNum)</td>
        <td>@Html.DisplayFor(model => model.CS30.ProductName)</td>
        <td>@Html.DisplayFor(model => model.CS30.TargetNum)</td>
      </tr>
    </table>

    <table class="table text-center" style="margin-top: 40px !important;" id="Details-Bombarding">
      <tr>
        <th style="font-size: larger !important" colspan="2"><i><b>Bombarding</b></i></th>
      </tr>
      <tr>
        <th>@Html.DisplayNameFor(model => model.CS30.BombardingDate)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.BombardingName)</th>
      </tr>
      <tr>
        <td>@Html.DisplayFor(model => model.CS30.BombardingDate)</td>
        <td>@Html.DisplayFor(model => model.CS30.BombardingName)</td>
      </tr>
    </table>

    <table class="table text-center" style="margin-top: 40px !important;" id="Details-Processing">
      <tr>
        <th style="font-size: larger !important" colspan="3"><i><b>Processing</b></i></th>
      </tr>
      <tr>
        <th>@Html.DisplayNameFor(model => model.CS30.ProcessingDate)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.ProcessingName)</th>
        <th>@Html.DisplayNameFor(model => model.CS30.ProcessingLotNum)</th>
      </tr>
      <tr>
        <td>@Html.DisplayFor(model => model.CS30.ProcessingDate)</td>
        <td>@Html.DisplayFor(model => model.CS30.ProcessingName)</td>
        <td>@Html.DisplayFor(model => model.CS30.ProcessingLotNum)</td>
      </tr>
    </table>
    
    <form method="post" class="text-center">
        <input type="hidden" asp-for="CS30.ID" />
        <input style="margin-right: 10px !important;" type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Target?');"/> |
        <a class="btn btn-outline-warning" style="margin: 10px 0 10px 0 !important;" asp-page="./Edit" asp-route-id="@Model.CS30?.ID">Edit</a> |
        <a class="btn btn-outline-primary" style="margin-left: 10px !important;" asp-page="./Index">Back to List</a>
    </form>
</div>
