@page
@model TargetDataBase.Pages.CS30s.DetailsModel

@{
    ViewData["Title"] = "CS-30 Target Details";
}
<div class="text-center mt-5 mb-5">
    <h2 class="text-warning" id="status" value="@Html.DisplayFor(model => model.CS30.Status)">Current Target Status: @Html.DisplayFor(model => model.CS30.Status)</h2>
</div>

<div class="container m-3">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div>
                        <h3 class="card-title text-primary text-center m-2">Target Life Cycle</h3>
                        <div id="content">
                            <ul class="timeline">
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.CS30.WarehouseDate)" id="warehouse">
                                    <h4><b><i>Target in Warehouse:</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.TargetType):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.TargetType)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.WarehouseName):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.WarehouseName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.WarehouseCode):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.WarehouseCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.WarehouseLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.WarehouseLotNum)</p>
                                </li>
                            @if (Model.CS30.CyclotronDate != null)
                            {
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.CS30.CyclotronDate)" id="cyclotron">
                                    <h4><b><i>Target in Cyclotron Spares:</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.CyclotronName):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.CyclotronName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.CyclotronCode):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.CyclotronCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.WarehouseLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.WarehouseLotNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.Quantity):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.Quantity)</p>
                                    <table class="table">
                                        <tr>
                                            <th>Results</th>
                                            <th>H-Number</th>
                                        </tr>
                                        @foreach (var item in Model.CS30.CS30Tests)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Result)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HNum)
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </li>
                            }
                            @if (Model.CS30.PlatingDate != null)
                            {
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.CS30.PlatingDate)">
                                    <h4><b><i>Target in Lab: Plating</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.PlatingName):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.PlatingName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.PlatingCode):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.PlatingCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.PlatingLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.PlatingLotNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.ProductName):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.ProductName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.TargetNum):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.TargetNum)</p>
                                </li>
                            }
                            @if (Model.CS30.BombardingDate != null)
                            {
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.CS30.BombardingDate)">
                                    <h4><b><i>Target in Bombarding:</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.BombardingName):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.BombardingName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.PlatingCode):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.PlatingCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.PlatingLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.PlatingLotNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.ProductName):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.ProductName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.TargetNum):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.TargetNum)</p>
                                </li>
                            }
                            @if (Model.CS30.ProcessingDate != null)
                            {
                                <li class="event displaytime" data-date="@Html.DisplayFor(model => model.CS30.ProcessingDate)">
                                    <h4><b><i>Target in Lab: Processing</i></b></h4>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.ProcessingName):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.ProcessingName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.PlatingCode):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.PlatingCode)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.ProductName):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.ProductName)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.TargetNum):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.TargetNum)</p>
                                    <h5>@Html.DisplayNameFor(model => model.CS30.ProcessingLotNum):</h5>
                                    <p>@Html.DisplayFor(model => model.CS30.ProcessingLotNum)</p>
                                </li>   
                            }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="text-center m-5">
    <a class="btn btn-outline-warning me-2" asp-page="./Edit" asp-route-id="@Model.CS30?.ID">Edit</a> |
    <a class="btn btn-outline-primary ms-2" asp-page="./Index">Back to List</a>
</div>
