@page
@model TargetDB.Pages.CS30CurvedTargets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CS30CurvedTarget[0].JigTest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CS30CurvedTarget[0].HNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CS30CurvedTarget[0].CS30Curved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CS30CurvedTarget) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JigTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CS30Curved.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CurvedTestID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CurvedTestID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CurvedTestID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
